@import './variables.scss';

.app {
	background-color: $darkbackground;
}
.main-content {
	display: flex;
	height: calc(100% - 60px);
}

nav {
	width: 20%;
	min-width: 340px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
