@import './variables.scss';

.char-history {
	width: 100%;
	height: 100%;
	padding: 5px 0;

	h3 {
		font-size: 24px;
		text-align: center;
		color: white;
	}

	ul {
		display: flex;
		flex-direction: column;

		button {
			display: flex;
			width: 100%;
			border: 1px solid black;
			background-color: $lightbackground;
			box-shadow: 0px 0px 2px white inset;
			align-items: center;
			position: relative;
			transition-duration: 1s;

			img {
				width: 20%;
				height: auto;
				z-index: 2;
			}

			.index-details {
				margin-left: 5px;
				z-index: 2;
			}

			p {
				cursor: pointer;
				font-size: 16px;
			}

			&::before {
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(to right, $lightbackground, gray);
				z-index: -1;
				opacity: 0;
			}
			&:hover {
				&::before {
					transition-duration: 0.5s;
					z-index: 1;
					opacity: 1;
				}
			}
		}
	}
}
