@import './variables.scss';

.pet-details {
	width: 70%;
	min-width: 300px;
	padding: 5px;
	background-color: $midbackground;
	max-height: 60%;
	margin: 10px 10px 0px 5px;
	color: white;
	border-radius: 2px;

	header {
		text-align: center;
		font-size: 20px;
		border-bottom: 1px solid black;
		margin-bottom: 5px;
	}

	input {
		margin: 5px 0;
		color: black;
		background-color: white;
		width: 100%;
		padding-left: 5px;
	}

	.filter-label {
		display: flex;

		input {
			width: min-content;
			margin-left: 5px;
			cursor: pointer;
		}
	}

	.quality-options-container {
		display: flex;
		label {
			margin-right: 5px;
		}
	}

	ul {
		margin-top: 5px;
		height: calc(100% - 190px);
		overflow-y: auto;

		@include scrollbars;
	}
}
