@import './variables.scss';

#root {
	font-family: 'Roboto Condensed', sans-serif;
}

button,
input[type=submit] {
	transition-duration: 0.5s;
}

body {
	min-height: 940px;
}

.border {
	border: 1px solid black;
	box-shadow: inset 0px 0px 2px white;
}

// Class Colors
.Death.Knight {
	color: $deathknight;
}
.Demon.Hunter {
	color: $demonhunter;
}
.Druid {
	color: $druid;
}
.Hunter {
	color: $hunter;
}
.Mage {
	color: $mage;
}
.Monk {
	color: $monk;
}
.Paladin {
	color: $paladin;
}
.Priest {
	color: $priest;
}
.Rogue {
	color: $rogue;
}
.Shaman {
	color: $shaman;
}
.Warlock {
	color: $warlock;
}
.Warrior {
	color: $warrior;
}

// Class Bolding
.Death.Knight,
.Demon.Hunter,
.Druid,
.Hunter,
.Mage,
.Monk,
.Paladin,
.Priest,
.Rogue,
.Shaman,
.Warlock,
.Warrior {
	font-weight: bold;
}

// Quality Colors
.Poor {
	color: $poor;
}
.Common {
	color: $common;
}
.Uncommon {
	color: $uncommon;
}
.Rare {
	color: $rare;
}
.Epic {
	color: $epic;
}
.Legendary {
	color: $legendary;
}
.Artifact {
	color: $artifact;
}
.Heirloom {
	color: $heirloom;
}
.WoW.Token {
	color: $wowtoken;
}

// Faction Colors
.Horde {
	color: $horde;
}
.Alliance {
	color: $alliance;
}
.Sylvanas {
	color: $sylvanas;
}
