@import './variables.scss';

.mount-index-item {
	width: 100%;
	border: 1px solid black;
	background-color: $midbackground;
	box-shadow: 0px 0px 2px white inset;
	position: relative;
	transition-duration: 1s;
	cursor: pointer;

	.mount-shadow {
		z-index: 2;
		display: flex;
		align-items: center;

		.mount-img {
			width: 40%;
			height: auto;
			z-index: 2;
		}

		.mount-name {
			margin-left: 5px;
			z-index: 2;
			cursor: pointer;
			font-size: 16px;
		}
	}

	&::before {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to right, $midbackground, $lightbackground);
		z-index: -1;
		opacity: 0;
	}
	&:hover {
		&::before {
			transition-duration: 0.5s;
			z-index: 1;
			opacity: 1;
		}
	}
}

// .mount-link {
// 	display: flex;
// 	align-items: center;
// 	img {
// 		width: 40%;
// 	}
// }
