// Class Colors
$deathknight: rgb(196, 30, 58);
$demonhunter: rgb(163, 48, 201);
$druid: rgb(255, 124, 10);
$hunter: rgb(170, 211, 114);
$mage: rgb(63, 199, 235);
$monk: rgb(0, 255, 152);
$paladin: rgb(244, 140, 186);
$priest: rgb(255, 255, 255);
$rogue: rgb(255, 244, 104);
$shaman: rgb(0, 112, 221);
$warlock: rgb(135, 136, 238);
$warrior: rgb(198, 155, 109);

// Quality Colors
$poor: #9d9d9d;
$common: #ffffff;
$uncommon: #1eff00;
$rare: #0070dd;
$epic: #a335ee;
$legendary: #ff8000;
$artifact: #e6cc80;
$heirloom: #e6cc80;
$wowtoken: #00ccff;

// Site Theming Colors
$darkbackground: rgb(20, 27, 32);
$lightbackground: rgb(57, 64, 87);
